@import "../../../variable.scss";
.wrapper {
  display: flex;
  gap: 1rem;
}

a.active {
  @extend .pending;
  background-color: $secondary-color;
}
a.pending {
  border-radius: 5px;
  margin-top: 1rem;
  font-size: 18px;
  text-align: center;
  padding: 0.8rem;
  height: fit-content;
}
a {
  text-decoration: none;
  color: white;
}
